<footer class="app-footer">
    <div>
        <a href="https://coreui.io">DomoPi</a>
        <span>&copy; 2018 by Marco N. &amp; Denni B.</span>
    </div>
    <div class="ml-auto">
        <span>Visit us on </span>
        <a href="https://github.com/marcoredtech/DomoPi" target="_blank">GitHub</a>
    </div>
</footer>