<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="nav-icon cui-speedometer"></i> Dashboard
                </a>
            </li>
            <li class="nav-title">Devices</li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-cursor"></i> Add Device
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/devices">
                    <i class="nav-icon cui-layers"></i> Your Devices
                </a>
            </li>

            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-danger" href="/logout">
                    <i class="nav-icon cui-account-logout"></i> Log Out
                </a>
            </li>
        </ul>
    </nav>
</div>
