<div class="container-fluid">
    <div class="bg-primary alert d-block text-center text-white py-3">
        <strong>Welcome to DomoPi!</strong> An awesome Domotic System by <strong>Marco N.</strong> &amp; <strong>Denni B.</strong>
    </div>

    <div class="jumbotron jumbotron-fluid" style="background-color: #FFF;">
        <div class="container">
            <h1 class="display-3 text-center">DomoPi</h1>
            <p class="lead text-center">An Awesome Domotic System with RaspberryPi</p>
            <br>
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="https://github.com/marcoredtech/DomoPi" target="_blank" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>